{% extends 'base.html' %}
{% load cart %}
{% block content %}
{% for order in order_list %}
    {% for colname in item.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}


<div class="container d-flex mt-5" style="width: 70%;">
    <div class="col">
        <h1 class="text-center">All Orders</h1>
        <table class="table table-striped mt-5 table-hover">
            <thead>
                <tr>
                    <th class="text-center" scope="col">S#No</th>
                    <th class="text-center" scope="col">Items</th>
                    <th class="text-center" scope="col">Customer</th>
                    <th class="text-center" scope="col">Total Price</th>
                    <th class="text-center" scope="col">Customer Address</th>
                    <th class="text-center" scope="col">Customer Phone</th>
                    <th class="text-center" scope="col">Date Ordered</th>
                    <th class="text-center" scope="col" colspan=2>Date-Time Updated</th>
                    <th class="text-center" scope="col">Order Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                {% for order in order_list %}

                {% if order|is_not_pending %}



                {% if order.items.first.restaurant|is_owner:request.user.full_name %}
                <tr>
                    <td class="text-center">{{forloop.counter}}</td>
                    <td class="text-center">
                    <a href="{% url 'order_detail' order.id %}">
                    {% for item in order.items.all  %}
                    <img src="{{item.photo.url}}" alt="" class="rounded-circle", style="height: 50px">
                    {% endfor %}
                  </a>
                        </td>
                    <td class="text-center">{{order.customer}}</td>
                    <td class="ml-5 text-center">{{order.price}}</td>
                    <td class="text-center">{{order.address}}</td>
                    <td class="text-center"><b>{{order.phone}}</b></td>
                    <td class="text-center"><b>{{order.date}}</b></td>
                    <td class="text-center" colspan=2><b>{{order.datetime_updated}}</b></td>
                    <td class="text-center"><a href="{% url 'order_status' order.status %}">{{order.get_status_display}}</a></td>

                    <td>
                    {% if order.status == "OD" %}
                    <form action="/change_order_status" method="POST">
                    {% csrf_token %}
                        <input
                          hidden
                          id="pay"
                          class="form-control"
                          type="text"
                          name="pay"
                          value="{{order.id}}"
                        />
                    <input
                        type="submit"
                        value="Mark as Paid"
                        class="btn btn-sm btn-outline-success col-lg-12 mt-3"
                        />
                      </form>
                    {% endif %}
                </td>

                <td>
                    {% if order.status == "PI" %}
                   <form action="/change_order_status" method="POST">
                        {% csrf_token %}
                        <input
                          hidden
                          id="complete"
                          class="form-control"
                          type="text"
                          name="complete"
                          value="{{order.id}}"
                        />
                    <input
                        type="submit"
                        value="Mark as Completed"
                        class="btn btn-sm btn-outline-success col-lg-12 mt-3"
                        />
                      </form>
                    {% endif %}
                </td>
                <td>
                    {% if order.status == "OD" or  order.status == "PI"  %}

                    <form action="/change_order_status" method="POST">
                        {% csrf_token %}
                        <input
                          hidden
                          id="cancel"
                          class="form-control"
                          type="text"
                          name="cancel"
                          value="{{order.id}}"
                        />
                    <input
                        type="submit"
                        value="Cancel"
                        class="btn btn-sm btn-outline-danger col-lg-12 mt-3"
                        />
                      </form>
                    {% endif %}
                </td>
                </tr>
                {% endif %}
                {% endif %}
            {% endfor %}

            </tbody>
        </table>
    </div>

</div>

{% endblock content %}
