{% extends 'base.html' %}
{% load cart %}
{% block content %}
{% for restaurant in restaurant_list %}
    {% for colname in restaurant.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}


<div class="container d-flex mt-5" style="width: 70%;">
    <div class="col">
        <h1 class="text-center">All Restaurants</h1>
        <table class="table table-striped mt-5 table-hover">
            <thead>
                <tr>
                    <th class="text-center" scope="col">S#No</th>
                    <th class="text-center" scope="col">Name</th>
                    <th class="text-center" scope="col">Owner</th>
                    <th class="text-center" scope="col">Location</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                {% for restaurant in restaurant_list %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}
                    <td class="text-center">{{forloop.counter}}</td>
                    <td class="ml-5 text-center"><a href="{% url 'restaurant_detail' restaurant.id %}">{{restaurant.name}}</a></td>
                    <td class="text-center">{{restaurant.owner.full_name}}</td>
                    <td class="text-center">{{restaurant.location}}</td>

                    {% if restaurant|is_owner:request.user.full_name%}
                    <td><a href="{% url 'restaurant_update' restaurant.id %} ">Update</a></td>
                    <td><a href="{% url 'restaurant_delete' restaurant.id %}">Delete</a></td>
                    {% else %}
                    <td></td>
                    <td></td>
                    {% endif %}

                </tr>
            {% endfor %}

            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <a href="{% url 'restaurant_create' %}" class="d-block btn btn-primary btn-lg my-5">Add New</a>
        </div>
    </div>

</div>

{% endblock content %}
