{% extends "base.html" %}

{% block content %}
{% load crispy_forms_filters %} {% load crispy_forms_tags %}

<div class="container d-flex justify-content-center mt-5" style="width: 25%;">
    <div class="col mt-5">
        <form action="" method="post">

            {% csrf_token %}
            <table class="table">

                {{form|crispy}}


                {% comment %} <select name="owner" class="select form-select" required="" id="id_owner">  <option value="3">Ali Abbas</option> <option value="2">Ali</option> <option value="1">User</option> {% endcomment %}

                </select>
                <label for="id_owner" class="form-label requiredField">
                    Owner<span class="asteriskField">*</span> </label>
                <select name="owner" class="select form-select" id="id_owner" name="owner">
                        <option value="" selected="">---------</option>
                        <option value="{{request.user.id}}" > {{request.user.full_name}}  </option>
                 </select>
            </table>
            <div class="container d-flex justify-content-center" style="width: 10%;">
                <input type="submit" class="btn btn-primary btn-lg" value="Submit" style="margin-right: 30px; margin-top: 30px;">
                <input type="submit" class="btn btn-danger btn-lg" style="margin-top: 30px;" onclick="window.location='{% url 'restaurants' %}'; return false;" value="Cancel">
            </div>
        </form>

    </div>
</div>



{% endblock %}
