{% load cart %}

<div class="row">
  <form action="/#{{item.id}}" method="POST" class="col-2">
    {% csrf_token %}
    <input hidden type="text" name="item" value="{{item.id}}" />
    <input hidden type="text" name="remove" value="True" />
    <input type="submit" value="Delete" class="btn btn-outline-danger" />
  </form>
  <div class="text-center col">
    <b></b>
  </div>
  <form action="/#{{item.id}}" method="POST" class="col-2">
    {% csrf_token %}
    <input hidden type="text" name="item" value="{{item.id}}" />
    <input type="submit" value="Edit" class="btn btn-outline-success" />
  </form>
</div>
