{% extends 'base.html' %} {% block title %}
<title>Cart</title>
{% endblock title %} {% block content %} {% load cart %}

<div class="container">
  <div class="border rounded p-4 m-4">
    <h1 class="display-4">Your Cart</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">S#No</th>
          <th scope="col">Photo</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            <img
              src="{{item.photo.url}}"
              alt=""
              class="rounded-circle"
              style="height: 50px"
            />
          </td>
          <td>{{item.title}}</td>
          <td>{{item.price|currency}}</td>
          <td>
            <div class="row col-lg-4">
              <form action="/cart" method="POST" class="col-2">
                {% csrf_token %}
                <input hidden type="text" name="item" value="{{item.id}}" />
                <input hidden type="text" name="remove" value="True" />
                <input type="submit" value="-" class="btn btn-sm btn-outline-danger" />
              </form>
              <div class="col-2 ms-3">
                <b class="text-center">{{item|cart_count:request.session.cart}}</b>
              </div>
              <form action="/cart" method="POST" class="col-2">
                {% csrf_token %}
                <input hidden type="text" name="item" value="{{item.id}}" />
                <input type="submit" value="+" class="btn btn-sm btn-outline-success" />
              </form>
            </div>
          </td>
          <td>{{item|item_total:request.session.cart|currency}}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4"></th>
          <th colspan="">Total Amount</th>
          <th>{{items|total_amount:request.session.cart|currency}}</th>
        </tr>
      </tfoot>
    </table>
    <div class="m-3 p-3">
      {% if request.session.cart|is_cart_empty %}

      {% else %}

      <a
        href=""
        data-bs-toggle="modal"
        data-bs-target="#checkoutModal"
        class="btn btn-outline-success col-lg-2 float-end"
        >Checkout</a
      >
      {% endif %}
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="checkoutModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Checkout Form</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="m-2 p-2">
          <form action="/checkout" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="address">Address</label>
              <input
                id="address"
                class="form-control"
                type="text"
                name="address"
              />
            </div>
            <div class="form-group mt-3">
              <label for="contact">Contact</label>
              <input
                id="contact"
                class="form-control"
                type="text"
                name="phone"
              />
            </div>
            <input
              hidden
              id="price"
              class="form-control"
              type="text"
              name="price"
              value="{{items|total_amount:request.session.cart|currency}}"
            />
            <input
              type="submit"
              value="Checkout"
              class="btn btn-sm btn-outline-success col-lg-3 mt-3 float-lg-end"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
