{% extends 'base.html' %} {% block title %}
<title>Cart</title>
{% endblock title %} {% block content %} {% load cart %}

<div class="container">
  <div class="border rounded p-4 m-4">
    {% if request.user.groups.all.first|is_admin %}
    <h1 class="display-4">All Orders</h1>
    {% else %}
    <h1 class="display-4">Your Orders</h1>
    {% endif %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Photo</th>
          <th scope="col">Date-Ordered</th>
          <th scope="col">Total Price</th>
          <th scope="col">Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}

        <tr>
          <td>
            {% for item in order.items.all %}
            <img
              src="{{item.photo.url}}"
              alt=""
              class="rounded-circle"
              style="height: 50px"
            />
            {% endfor %}
          </td>

          <td>{{order.date}}</td>
          <td><b>{{order.price}}</b></td>
          <td><b>{{order.get_status_display}}</b></td>
          <td><a href="{% url 'order_delete' order.id %}">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
