{% extends 'base.html' %} {% block content %}
<h3>Restaurants</h3>
<p>{{request.user.group}}</p>
<ul>
  {% for restaurant in object_list %}
  <li>
    {% comment %}
    <a href="{% url 'restaurant_detail' restaurant.pk %}"
      >{{ restaurant.name }}</a
    >
    {% endcomment %} {{restaurant.name}} - {{restaurant.location}}

    <small> {{restaurant.contact}}</small>
    {% comment %}
    <small>
      -<a href="{% url 'update_post' post.pk %}">Edit </a> -
      <a href="{% url 'delete_post' post.pk %}">Delete </a>
    </small>
    {% endcomment %}
  </li>

  {% endfor %}
</ul>
{% endblock content %}
